.tui-full-calendar-weekday-schedule {
    height: 10px !important; /* 원하는 높이로 설정 */
    line-height: 10px !important; /* 원하는 높이로 설정 */
}
.tui-full-calendar-weekday-schedule {
    margin: 0px !important; /* 스케줄 사이의 간격 설정 */
}
.tui-full-calendar-weekday {
    padding-bottom: 1px; /* 전체적으로 아래쪽 간격 추가 */
}