.tui-full-calendar-weekday-schedule {
  height: 10px !important;
  /* 원하는 높이로 설정 */
  line-height: 10px !important;
  /* 원하는 높이로 설정 */
}

.tui-full-calendar-weekday-schedule {
  margin: 0px !important;
  /* 스케줄 사이의 간격 설정 */
}

.tui-full-calendar-weekday {
  padding-bottom: 1px;
  /* 전체적으로 아래쪽 간격 추가 */
}

.date-time-item {
    margin-bottom: 10px;
    /* display: flex;
    align-items: center; 
    gap: 10px;  */
  }

  .date-time-item label {
    min-width:30px; /* label의 최소 너비 설정, 필요에 따라 조정 가능 */
  }

.date-view {
  font-size: 9px;
  line-height: 10px;
  width: 100%;
  max-width: 100px;
  height: 20px;
}

.time-view {
  font-size: 9px;
  width: 100%;
  max-width: 30px;
  line-height: 10px;
  height: 20px;
}


.input-with-button {
  display: flex;
  align-items: center;
}

.input-with-button input {
  flex: 1;
  margin-right: 10px;
  /* Add some space between the input and the button */
}

.input-with-button button {
  flex-shrink: 0;
}

.date-time-container {
  display: flex;
  flex-direction: column;
}

.date-time-item-row {
  display: flex;
  gap: 3px;
  /* 박스 간 간격 */
  align-items: center;
  flex-wrap: wrap;
}


.date-time-item-row label {
  margin-right: 5px;
}

/* .date-time-item-row input, */
/* .date-time-item-row select {
  margin-right: 10px;
  flex: 1;
} */

.input-with-button {
  display: flex;
  align-items: center;
}

.input-with-button input {
  flex: 1;
  margin-right: 10px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  z-index: 1000;
}
.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

/* .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
} */
.box select{
  border-radius: 4px;
}

.date-view,
.time-view {
  height: 20px;
  /* 모든 입력 필드와 드롭다운의 높이를 40px로 설정 */
  padding: 5px;
  font-size: 9px;
  box-sizing: border-box;
  border-color: black;
}

.time-view {
  appearance: none;
  /* 브라우저 기본 스타일 제거 */
  font-size: 12px;
  color: black
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.search-button {
  appearance: none;
  /* 브라우저 기본 스타일 제거 */
  height: 20px;
  /* 높이 설정, input과 동일 */
  padding: 0 00px;
  /* 버튼 내부 패딩 */
  font-size: 16px;
  margin-left: 10px;
  /* input과 버튼 사이의 간격 */
  background-color: #f0f0f0;
  /* 버튼 배경색 */
  border: 1px solid #ccc;
  /* 버튼 테두리 */
  box-sizing: border-box;
  cursor: pointer;
  color:black;
}

.search-button:hover {
  background-color: #e0e0e0;
  /* 마우스를 올렸을 때의 배경색 */
}




@media (max-width: 600px) {
  .date-time-item-row {
    flex-direction: column;
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  /* padding: 20px; */
  border-radius: 8px;
  width: 100%;
  max-width: 300px;

}

.modal-rentplace-overlay {
  position: fixed;
  top: 50%;
  right: 10px;
  /* width: 100vw;
  height: 100vh; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-rentplace-content {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}
.checkbox-list {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  max-width: 50px;
}

.checkbox-list label {
  display: flex;
  align-items: center; /* 수직으로 가운데 정렬 */
  gap: 10px; /* input과 텍스트 사이 간격 */
}

.close-button {
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}
input {
  flex: 1; /* input의 너비를 유동적으로 설정 */
}
.box {
  display: flex;
  align-items: center; /* input과 select를 수직으로 가운데 정렬 */
  gap: 2px; /* input과 select 사이의 간격 */
}

.date-view {
  flex: 1; /* input의 너비를 유동적으로 설정 */
}

.time-view {
  width: 100px; /* select의 고정 너비 설정 */
}