
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100% !important;
  max-width: 400px !important;
  z-index: 1000;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding:10px;
}
.date_box{
  display: flex;
  flex-direction: column; /* 요소를 세로로 배치 */
  gap: 5px; 
  flex: 1; /* 두 박스가 동일한 크기를 차지하도록 */
  padding: 0; /* 박스 내부 패딩 제거 */
  margin: 0; 
}
.date_box div {
  display: flex;
  gap: 10px; /* input과 select 간의 간격 */
}

.box {
  display: flex; /* flex: 1; */
  align-items: center;
  /* 수직 가운데 정렬 */
  gap: 1px;
  flex: 2 1 200px;
  flex-wrap: nowrap; /* 기본적으로 한 줄로 유지 */
}


.box select {
  border-radius: 4px;
}

.date-view,
.time-view {
  /* height: 20px; */
  /* 모든 입력 필드와 드롭다운의 높이를 40px로 설정 */
  padding: 3px;
  box-sizing: border-box;
  border-color: #ddd;
  appearance: none;
  /* 브라우저 기본 스타일 제거 */
  font-size: 12px;
  color: black
}


select {
  border-color: #ddd;
}


#ScheduleModal label {
  margin-bottom: 5px;
  min-width: 30px;
}

.search-button {
  appearance: none;
  /* 브라우저 기본 스타일 제거 */
  height: 20px;
  /* 높이 설정, input과 동일 */
  padding: 0 00px;
  /* 버튼 내부 패딩 */
  font-size: 16px;
  margin-left: 10px;
  /* input과 버튼 사이의 간격 */
  background-color: #f0f0f0;
  /* 버튼 배경색 */
  border: 1px solid #ccc;
  /* 버튼 테두리 */
  box-sizing: border-box;
  cursor: pointer;
  color: black;
}

.search-button:hover {
  background-color: #e0e0e0;
  /* 마우스를 올렸을 때의 배경색 */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  /* padding: 20px; */
  border-radius: 8px;
  width: 100%;
  max-width: 400px;

}

.modal-rentplace-overlay {
  position: fixed;
  top: 50%;
  right: 10px;
  /* width: 100vw;
  height: 100vh; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-rentplace-content {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  max-width: 50px;
}

.checkbox-list label {
  display: flex;
  align-items: center;
  /* 수직으로 가운데 정렬 */
  gap: 10px;
  /* input과 텍스트 사이 간격 */
}

.close-button {
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}

input {
  flex: 1;
  /* input의 너비를 유동적으로 설정 */
}

.date-time-item-row {
  display: flex;
  gap: 3px;
  /* 박스 간 간격 */
  align-items: baseline;
  flex-wrap: nowrap;
  padding:10px
}


@media (max-width: 400px) {
  .date-time-item-row  {
    flex-wrap: wrap; /* 화면 너비가 400px 이하일 때 요소들이 두 줄로 배치 */
  }
}


.MuiDialogContent-root > .MuiBox-root{
  padding:20px!important;
}

/* .MuiDialogContent-root input,
.MuiDialogContent-root select
{font-size: 12px;} */

.date-time-item-row label {
  /* margin-right: 5px; */
  min-width: 30px;
}

.photoGubun select{
  width:80%;
}
.date-view {
  flex: 2;
  /* input의 너비를 유동적으로 설정 */
}

.time-view {
  flex: 1;
  /* select의 너비를 유동적으로 설정 */
}
.tui-full-calendar-weekday-grid-line .tui-full-calendar-weekday-grid-more-schedules{
  color: #ad0000!important;
  font-weight: normal!important;
}
.tui-full-calendar-weekday-schedule-block {
  margin: 0px!important; /* 원하는 간격으로 조정 */
  font-weight: normal!important;
  position: relative!important;
}


.tui-full-calendar-weekday-schedule-title{
  font-weight: normal!important;
  font-size:12px;
  color:#fff;
}
.tui-full-calendar-weekday-schedule-bullet{
  /* top: 2px, im !important; */
  display: none;
}
.tui-full-calendar-weekday-grid-line .tui-full-calendar-weekday-grid-more-schedules{
  padding:0!important;
  position: absolute;
}
.tui-full-calendar-weekday-resize-handle{
  line-height: 20px!important;
}
.tui-full-calendar-weekday-schedule {
  height: 20px !important;
  /* 원하는 높이로 설정 */
  line-height: 20px !important;
  /* 원하는 높이로 설정 */
}

.tui-full-calendar-weekday-schedule {
  margin: 0px !important;
  /* 스케줄 사이의 간격 설정 */
}

.tui-full-calendar-weekday {
  padding-bottom: 1px;
  /* 전체적으로 아래쪽 간격 추가 */
}
